PORT=5000
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/
MONGODB_DIRECT_URI=mongodb://<username>:<password>@<host-1>:27017,<host-2>:27017,<host-3>:27017/?ssl=true&authSource=admin&replicaSet=<replica-set>&retryWrites=true&w=majority
MONGODB_DB_NAME=jobportal
